---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='Data Viz Goal'>
  <h1 class='text-4xl'>Data Viz Goal</h1>
  <p>Data Visualization Course</p>
</Layout>
